In [40]:
import pandas as pd
df = pd.DataFrame()
print (df.shape)

(0, 0)

In [41]:
# assign a list to a dataframe column
list = [1,2,5]
df["column1"] = pd.Series(list).values
df

   column1
0        1
1        2
2        5

In [42]:
# instantiate dataframe from a dictionary object
dict = {}
dict["name"]=["A","B","C"]
dict["age"]=[10,15,21]
df = pd.DataFrame(dict)
df

  name  age
0    A   10
1    B   15
2    C   21

In [43]:
# export dataframe to csv, bz2
import os
directory = "export"
if not os.path.exists(directory):
    os.makedirs(directory)    # will create directory if it doesnt exist
file_name = os.path.join("df_export.bz2")
df.to_csv(file_name, index=False, compression='bz2') #export to csv with bz2 compression, ascii format
df.to_csv("df_export.csv", index=False) #export to csv with bz2 compression, ascii format

In [44]:
# filtering List based on another List
fullList = ["apple","orange","guava","melon"]
ignoreList= ["apple","orange"]
filteredList = [item for item in fullList if item not in ignoreList]
filteredList

['guava', 'melon']

In [45]:
# for loop
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [46]:
# exporting a json in utf-8
import io
import json
exportFile="sample.json"
dictVariable = {}
dictVariable["name"]=["A","B","C"]
dictVariable["age"]=[10,15,21]
with io.open(exportFile, 'w', encoding='utf-8') as outfile:
    #py 2.7
    #fileContent = json.dumps(dictVariable,sort_keys=True,encoding='utf8',ensure_ascii=False)
    #py 3.6
    fileContent = json.dumps(dictVariable,sort_keys=True,ensure_ascii=False)
    outfile.write(fileContent)

In [47]:
import time

def timeDiffStr(startTime, endTime):
    return str(int(round((endTime-startTime), 0)))

startTime = time.time()
time.sleep(1.7) #sleep for 1.7 seconds
endTime = time.time()

print (endTime-startTime)
print(timeDiffStr(startTime,endTime)) #rounded value of time difference

1.7014682292938232
2

In [50]:
# dataframe rename columns 
print (df)
df2 = df.rename(columns=lambda x: "Col:"+x[:-2], inplace=False) #renames columns based on col values
print (df2)

  name  age
0    A   10
1    B   15
2    C   21
  Col:na  Col:a
0      A     10
1      B     15
2      C     21

In [52]:
#OrderedDictionary
import collections
data = collections.OrderedDict()
data['Key1'] = "Value1"
data['Key2'] = "Value2"

print (data)

OrderedDict([('Key1', 'Value1'), ('Key2', 'Value2')])

In [54]:
#Write to a file:
filename="out2.json"
with open(filename, 'w') as outfile:
    json.dump(data, outfile)

In [55]:
#convert dataframe columns to list
listOfValues = df["name"].tolist()
print (df)
print (listOfValues)

  name  age
0    A   10
1    B   15
2    C   21
['A', 'B', 'C']

In [56]:
# convert a dataframe into dictionary as records
dictionary = df.to_dict('records')
print (df)
print (dictionary)

  name  age
0    A   10
1    B   15
2    C   21
[{'name': 'A', 'age': 10}, {'name': 'B', 'age': 15}, {'name': 'C', 'age': 21}]

In [ ]:
# iterate through sub-directories
rootPath = ".."
for path, subdirs, files in os.walk(str(rootPath)):
    print ("Path={}".format(path))
    #print (subdirs)
    for name in files:
        print ("{}File={}".format("\t",name))

In [65]:
#iterating the dataframe by each row
lists=[]
for index,row in df.iterrows():
    lists.append(row.to_dict()) #convert the row to a dictionary and add to a list
print(lists)

[{'name': 'A', 'age': 10}, {'name': 'B', 'age': 15}, {'name': 'C', 'age': 21}]

In [66]:
# using concurrency and parallelism - multiprocessing 
import multiprocessing
import time
import random

def worker(number):
    sleep = random.randrange(1, 10)
    time.sleep(sleep)
    print("I am Worker {}, I slept for {} seconds".format(number, sleep))

for i in range(5):
    t = multiprocessing.Process(target=worker, args=(i,))
    t.start()

print("All Processes are queued, let's see when they finish!")

All Processes are queued, let's see when they finish!
I am Worker 4, I slept for 1 seconds
I am Worker 2, I slept for 2 seconds
I am Worker 0, I slept for 3 seconds
I am Worker 3, I slept for 6 seconds
I am Worker 1, I slept for 8 seconds

In [67]:
# dump json content with minimal separation space
# fileContent = json.dumps(jsonData, sort_keys=False,ensure_ascii=False,indent=2,separators=(',', ':'))

In [74]:
# read content from file
filepath="../week0/df_export.csv"
fileObj = open(filepath, 'r')
fileContent = fileObj.read()
print (fileContent)

name,age
A,10
B,15
C,21

In [73]:
# if its json data - you can load using json.loads to an object
jsonFilePath="../week0/sample.json"
jsonFileObj = open(jsonFilePath, 'r')
jsonData = json.loads(jsonFileObj.read())
print (jsonData)

{'age': [10, 15, 21], 'name': ['A', 'B', 'C']}

In [76]:
#add/update a new column name "<col_name>" and set all values as 0
df['<col_name>'] = 0
df

  name  age  <col_name>
0    A   10           0
1    B   15           0
2    C   21           0

In [84]:
# modify dataframe column value based on condition
#for index, row in df.iterrows():
    #int_age = int(row['age'])
    #name = row['name']
print (df['age'] >= 18)
df.loc[(df['age'] >= 18) & (df['age'] <= 21),'<col_name>'] = 'Adult'
print (df)

0    False
1    False
2     True
Name: age, dtype: bool
  name  age <col_name>
0    A   10          0
1    B   15          0
2    C   21      Adult

In [87]:
# load excel object
excelFilePath="../week0/SampleExcel.xlsx"
excelObject = pd.ExcelFile(excelFilePath)

In [88]:
# parse excel sheet into dataframe
sheet1Df = excelObject.parse('Sheet1',keep_default_na=False, na_values='None')
print (sheet1Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

In [99]:
# rename dataframe columns
sheet1Df.rename(columns=lambda x: x.replace('.','_').strip(),inplace=True)
print (sheet1Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

In [100]:
# get element in dataframe first row, first column
print(sheet1Df.iloc[0][0])

aamir

In [108]:
# get dataframe's first row and from 2nd column till n-1 columns -> and then convert to dictionary
print(sheet1Df.iloc[0][1:-1].to_dict())

{'age': 45}

In [109]:
# dataframe remove first row
sheet1Df_modified = sheet1Df.drop(0,axis=0,inplace=False)
print (sheet1Df_modified)

       name  age sex
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

In [113]:
# find a column name in dataframe that has a substring in column name
# [0] repreents get the first value if multiple matches are found
columnName = [col for col in sheet1Df.columns if 'NAM'.upper() in col.upper()][0]
print(columnName)

name

In [137]:
# get unique list of value from iloc[<all_rows>:<3rd col>]
# get unique list of values from column name
uniqueSexes = set(sheet1Df.iloc[:,2].tolist())
uniqueSexesListOption2 = sorted((set((sheet1Df['sex']).tolist())))
print (uniqueSexes)
print (uniqueSexesListOption2)

{'F', 'M'}
['F', 'M']

In [134]:
# slice a dataframe based on a column's value
print (sheet1Df)
slicedDf = sheet1Df.loc[(sheet1Df['age'] == 45)]
print (slicedDf)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F
    name  age sex
0  aamir   45   M

In [142]:
#drop first 2 columns of dataframe
sheet2Df = sheet1Df.copy(deep=True)
print(sheet1Df)
print()
print(sheet2Df)
sheet3Df = sheet2Df.drop(sheet2Df.iloc[:, 0:2], inplace=False, axis=1)
print (sheet3Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F
  sex
0   M
1   M
2   F
3   F

In [145]:
# delete dataframe rows, truncate, after row 2 
sheet2Df = sheet1Df.truncate(after=1)
print (sheet2Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M

In [165]:
# check if string is a number
print(sheet1Df)
age = str(sheet1Df.iloc[0,1])
print (age.isdigit())
print ('5.5600'.isdigit())

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F
True
False