In [3]:
import pandas as pd
df = pd.DataFrame()
print (df.shape)

(0, 0)

In [4]:
# assign a list to a dataframe column
list = [1,2,5]
df["column1"] = pd.Series(list).values
df

   column1
0        1
1        2
2        5

In [5]:
# instantiate dataframe from a dictionary object
dict = {}
dict["name"]=["A","B","C"]
dict["age"]=[10,15,21]
df = pd.DataFrame(dict)
df

  name  age
0    A   10
1    B   15
2    C   21

In [6]:
# export dataframe to csv, bz2
import os
directory = "export"
if not os.path.exists(directory):
    os.makedirs(directory)    # will create directory if it doesnt exist
file_name = os.path.join("df_export.bz2")
df.to_csv(file_name, index=False, compression='bz2') #export to csv with bz2 compression, ascii format
df.to_csv("df_export.csv", index=False) #export to csv with bz2 compression, ascii format

In [7]:
# filtering List based on another List
fullList = ["apple","orange","guava","melon"]
ignoreList= ["apple","orange"]
filteredList = [item for item in fullList if item not in ignoreList]
filteredList

# filesList = [item for item in files if (item.endswith('.xlsx') and (not("$" in item)))]
# this can be used to create a sub-list which end with .xlsx and not have $ to start in the filename

['guava', 'melon']

In [8]:
# for loop
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [9]:
# exporting a json in utf-8
import io
import json
exportFile="sample.json"
dictVariable = {}
dictVariable["name"]=["A","B","C"]
dictVariable["age"]=[10,15,21]
with io.open(exportFile, 'w', encoding='utf-8') as outfile:
    #py 2.7
    #fileContent = json.dumps(dictVariable,sort_keys=True,encoding='utf8',ensure_ascii=False)
    #py 3.6
    fileContent = json.dumps(dictVariable,sort_keys=True,ensure_ascii=False)
    outfile.write(fileContent)

In [10]:
import time

def timeDiffStr(startTime, endTime):
    return str(int(round((endTime-startTime), 0)))

startTime = time.time()
time.sleep(1.7) #sleep for 1.7 seconds
endTime = time.time()

print (endTime-startTime)
print(timeDiffStr(startTime,endTime)) #rounded value of time difference

1.703772783279419
2

In [11]:
# dataframe rename columns 
print (df)
df2 = df.rename(columns=lambda x: "Col:"+x[:-2], inplace=False) #renames columns based on col values
print (df2)

  name  age
0    A   10
1    B   15
2    C   21
  Col:na  Col:a
0      A     10
1      B     15
2      C     21

In [12]:
#OrderedDictionary
import collections
data = collections.OrderedDict()
data['Key1'] = "Value1"
data['Key2'] = "Value2"

print (data)

OrderedDict([('Key1', 'Value1'), ('Key2', 'Value2')])

In [13]:
#Write to a file:
filename="out2.json"
with open(filename, 'w') as outfile:
    json.dump(data, outfile)

In [14]:
#convert dataframe columns to list
listOfValues = df["name"].tolist()
print (df)
print (listOfValues)

  name  age
0    A   10
1    B   15
2    C   21
['A', 'B', 'C']

In [15]:
# convert a dataframe into dictionary as records
dictionary = df.to_dict('records')
print (df)
print (dictionary)

  name  age
0    A   10
1    B   15
2    C   21
[{'name': 'A', 'age': 10}, {'name': 'B', 'age': 15}, {'name': 'C', 'age': 21}]

In [16]:
# iterate through sub-directories
rootPath = ".."
for path, subdirs, files in os.walk(str(rootPath)):
    print ("Path={}".format(path))
    #print (subdirs)
    for name in files:
        print ("{}File={}".format("\t",name))

Path=..
	File=.DS_Store
	File=course-structure.md
Path=../AI 6 Session Recordings
	File=ai6_Session1.mp4
Path=../week1
	File=prerequisite.md
	File=PaperSpaceRemoteLoginSetup.sh
Path=../week0
	File=SampleExcel.xlsx
	File=prerequisite.md
	File=array.txt
	File=.DS_Store
	File=an_array.npy
	File=df_export.bz2
	File=database.ipynb
	File=out2.json
	File=python-basics.ipynb
	File=03_Numpy_Notebook.ipynb
	File=sample.json
	File=Numpy Exercises - Level 1.ipynb
	File=excercise.md
	File=pandas.ipynb
	File=exercises.py
	File=df_export.csv
Path=../week0/sample_kaggle_data
	File=movie sentiment analysis.tsv
	File=digit_recognizer_data.csv
	File=fashion_objects_detection.json
	File=house_price_prediction.csv
Path=../week0/.ipynb_checkpoints
	File=Numpy Exercises - Level 1-checkpoint.ipynb
	File=03_Numpy_Notebook-checkpoint.ipynb
	File=pandas-checkpoint.ipynb
	File=database-checkpoint.ipynb
Path=../week0/export
Path=../.vscode
	File=launch.json
	File=tasks.json

In [17]:
#iterating the dataframe by each row
lists=[]
for index,row in df.iterrows():
    lists.append(row.to_dict()) #convert the row to a dictionary and add to a list
print(lists)

[{'name': 'A', 'age': 10}, {'name': 'B', 'age': 15}, {'name': 'C', 'age': 21}]

In [18]:
# using concurrency and parallelism - multiprocessing 
import multiprocessing
import time
import random

def worker(number):
    sleep = random.randrange(1, 10)
    time.sleep(sleep)
    print("I am Worker {}, I slept for {} seconds".format(number, sleep))

for i in range(5):
    t = multiprocessing.Process(target=worker, args=(i,))
    t.start()

print("All Processes are queued, let's see when they finish!")

All Processes are queued, let's see when they finish!
I am Worker 1, I slept for 2 seconds
I am Worker 4, I slept for 4 seconds
I am Worker 3, I slept for 8 seconds
I am Worker 0, I slept for 9 seconds
I am Worker 2, I slept for 9 seconds

In [19]:
# dump json content with minimal separation space
# fileContent = json.dumps(jsonData, sort_keys=False,ensure_ascii=False,indent=2,separators=(',', ':'))

In [20]:
# read content from file
filepath="../week0/df_export.csv"
fileObj = open(filepath, 'r')
fileContent = fileObj.read()
print (fileContent)

name,age
A,10
B,15
C,21

In [21]:
# if its json data - you can load using json.loads to an object
jsonFilePath="../week0/sample.json"
jsonFileObj = open(jsonFilePath, 'r')
jsonData = json.loads(jsonFileObj.read())
print (jsonData)

{'age': [10, 15, 21], 'name': ['A', 'B', 'C']}

In [22]:
#add/update a new column name "<col_name>" and set all values as 0
df['<col_name>'] = 0
df

  name  age  <col_name>
0    A   10           0
1    B   15           0
2    C   21           0

In [23]:
# modify dataframe column value based on condition
#for index, row in df.iterrows():
    #int_age = int(row['age'])
    #name = row['name']
print (df['age'] >= 18)
df.loc[(df['age'] >= 18) & (df['age'] <= 21),'<col_name>'] = 'Adult'
print (df)

0    False
1    False
2     True
Name: age, dtype: bool
  name  age <col_name>
0    A   10          0
1    B   15          0
2    C   21      Adult

In [24]:
# load excel object
excelFilePath="../week0/SampleExcel.xlsx"
excelObject = pd.ExcelFile(excelFilePath)

In [25]:
# parse excel sheet into dataframe
sheet1Df = excelObject.parse('Sheet1',keep_default_na=False, na_values='None')
print (sheet1Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

In [26]:
# rename dataframe columns
sheet1Df.rename(columns=lambda x: x.replace('.','_').strip(),inplace=True)
print (sheet1Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

In [27]:
# get element in dataframe first row, first column
print(sheet1Df.iloc[0][0])

aamir

In [28]:
# get dataframe's first row and from 2nd column till n-1 columns -> and then convert to dictionary
print(sheet1Df.iloc[0][1:-1].to_dict())

{'age': 45}

In [29]:
# dataframe remove first row
sheet1Df_modified = sheet1Df.drop(0,axis=0,inplace=False)
print (sheet1Df_modified)

       name  age sex
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

In [30]:
# find a column name in dataframe that has a substring in column name
# [0] repreents get the first value if multiple matches are found
columnName = [col for col in sheet1Df.columns if 'NAM'.upper() in col.upper()][0]
print(columnName)

name

In [31]:
# get unique list of value from iloc[<all_rows>:<3rd col>]
# get unique list of values from column name
uniqueSexes = set(sheet1Df.iloc[:,2].tolist())
uniqueSexesListOption2 = sorted((set((sheet1Df['sex']).tolist())))
print (uniqueSexes)
print (uniqueSexesListOption2)

{'M', 'F'}
['F', 'M']

In [32]:
# slice a dataframe based on a column's value
print (sheet1Df)
slicedDf = sheet1Df.loc[(sheet1Df['age'] == 45)]
print (slicedDf)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F
    name  age sex
0  aamir   45   M

In [33]:
#drop first 2 columns of dataframe
sheet2Df = sheet1Df.copy(deep=True)
print(sheet1Df)
print()
print(sheet2Df)
sheet3Df = sheet2Df.drop(sheet2Df.iloc[:, 0:2], inplace=False, axis=1)
print (sheet3Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F
  sex
0   M
1   M
2   F
3   F

In [34]:
# delete dataframe rows, truncate, after row 2 
sheet2Df = sheet1Df.truncate(after=1)
print (sheet2Df)

       name  age sex
0     aamir   45   M
1  shahrukh   47   M

In [35]:
# check if string is a number
print(sheet1Df)
age = str(sheet1Df.iloc[0,1])
print (age.isdigit())
print ('5.5600'.isdigit())

       name  age sex
0     aamir   45   M
1  shahrukh   47   M
2    preity   40   F
3     kajol   42   F
True
False

In [42]:
# iterate a collection in a for loop, also require the index/counter
fruits = ["apple","orange","mango"]
for counter,fruit in enumerate(fruits):
    print(counter,fruit)

0 apple
1 orange
2 mango

In [53]:
# multiprocessing example
from random import randint

def printFruit(counter,fruitName):
    sleepTime = randint(1, 5)
    processId = os.getpid()
    print("ProcessID={},Fruit={}".format(processId,fruitName))    
    print("ProcessID={},Sleeping...for {} seconds".format(processId,sleepTime))
    time.sleep(sleepTime)
    print("ProcessID={},Finished Sleeping...for {} seconds".format(processId,sleepTime))
    
procs = []
fruits = ["apple","orange","mango"]
for counter,fruit in enumerate(fruits):
    proc = multiprocessing.Process(target=printFruit, args=(counter,fruit))
    procs.append(proc)
    proc.start()
for proc in procs:
    proc.join()
print ("Completed Execution of all processes.")

ProcessID=69168,Fruit=apple
ProcessID=69168,Sleeping...for 3 seconds
ProcessID=69169,Fruit=orange
ProcessID=69169,Sleeping...for 3 seconds
ProcessID=69170,Fruit=mango
ProcessID=69170,Sleeping...for 1 seconds
ProcessID=69170,Finished Sleeping...for 1 seconds
ProcessID=69168,Finished Sleeping...for 3 seconds
ProcessID=69169,Finished Sleeping...for 3 seconds
Completed Execution of all processes.

In [57]:
# force python version
import sys
assert (sys.version_info >= (3,0))

In [61]:
# multiprocessing with defined number of pool of processes example

from random import randint

def printFruit(counter,fruitName):
    sleepTime = randint(1, 10)
    processId = os.getpid()
    print("ProcessID={},Fruit={}".format(processId,fruitName))    
    print("ProcessID={},Sleeping...for {} seconds".format(processId,sleepTime))
    time.sleep(sleepTime)
    print("ProcessID={},Finished Sleeping...for {} seconds".format(processId,sleepTime))
    

procs = []
fruits = range(0,15)
pool = multiprocessing.Pool(processes=2) 
for counter,fruit in enumerate(fruits):
    proc = multiprocessing.Process(target=printFruit, args=(counter,fruit))
    pool.apply_async(printFruit, args=(counter,fruit))

pool.close()
pool.join()
print ("Completed Execution of all processes.")

ProcessID=69424,Fruit=1
ProcessID=69423,Fruit=0
ProcessID=69423,Sleeping...for 9 seconds
ProcessID=69424,Sleeping...for 3 seconds
ProcessID=69424,Finished Sleeping...for 3 seconds
ProcessID=69424,Fruit=2
ProcessID=69424,Sleeping...for 8 seconds
ProcessID=69423,Finished Sleeping...for 9 seconds
ProcessID=69423,Fruit=3
ProcessID=69423,Sleeping...for 6 seconds
ProcessID=69424,Finished Sleeping...for 8 seconds
ProcessID=69424,Fruit=4
ProcessID=69424,Sleeping...for 4 seconds
ProcessID=69423,Finished Sleeping...for 6 seconds
ProcessID=69423,Fruit=5
ProcessID=69423,Sleeping...for 4 seconds
ProcessID=69424,Finished Sleeping...for 4 seconds
ProcessID=69424,Fruit=6
ProcessID=69424,Sleeping...for 3 seconds
ProcessID=69424,Finished Sleeping...for 3 seconds
ProcessID=69424,Fruit=7
ProcessID=69424,Sleeping...for 10 seconds
ProcessID=69423,Finished Sleeping...for 4 seconds
ProcessID=69423,Fruit=8
ProcessID=69423,Sleeping...for 2 seconds
ProcessID=69423,Finished Sleeping...for 2 seconds
ProcessID=69423,Fruit=9
ProcessID=69423,Sleeping...for 1 seconds
ProcessID=69423,Finished Sleeping...for 1 seconds
ProcessID=69423,Fruit=10
ProcessID=69423,Sleeping...for 9 seconds
ProcessID=69424,Finished Sleeping...for 10 seconds
ProcessID=69424,Fruit=11
ProcessID=69424,Sleeping...for 3 seconds
ProcessID=69423,Finished Sleeping...for 9 seconds
ProcessID=69423,Fruit=12
ProcessID=69424,Finished Sleeping...for 3 seconds
ProcessID=69423,Sleeping...for 4 seconds
ProcessID=69424,Fruit=13
ProcessID=69424,Sleeping...for 1 seconds
ProcessID=69424,Finished Sleeping...for 1 seconds
ProcessID=69424,Fruit=14
ProcessID=69424,Sleeping...for 10 seconds
ProcessID=69423,Finished Sleeping...for 4 seconds
ProcessID=69424,Finished Sleeping...for 10 seconds
Completed Execution of all processes.

In [69]:
#how to pass arguments argparse
def main(args=None):
    argParser = argparse.ArgumentParser(description=__doc__)        
    argParser.add_argument("-I", "--inputdir", type=str, default=None, required=True, help="input directory for files")
    Testing = True
    if (Testing):
        arguments = argParser.parse_args("-I,../week0/".split(','))  
    else:
        arguments = argParser.parse_args(args=args)

    if (arguments.inputdir is not None):
        printFruit(1,arguments.inputdir)
main()

ProcessID=68601,Fruit=../week0/
ProcessID=68601,Sleeping...for 1 seconds
ProcessID=68601,Finished Sleeping...for 1 seconds

In [73]:
# concatenating, adding dataframe, concat, append values
file = "../week0/df_export.csv"
returnDf = pd.DataFrame()
for i in range(0,3):
    df = pd.read_csv(file)
    returnDf = pd.concat([returnDf,df])
print (returnDf)

  name  age
0    A   10
1    B   15
2    C   21
0    A   10
1    B   15
2    C   21
0    A   10
1    B   15
2    C   21

In [103]:
# return dataframe with not null values of a column
returnDf2 = returnDf[pd.to_numeric(returnDf['age'], errors='coerce').notnull()]
returnDf2['ValuePresent']="True"
print(returnDf2)
returnDf2.iat[0,2] = ""
print(returnDf2)
returnDf3 = returnDf2[pd.to_numeric(returnDf2['ValuePresent'], errors='coerce').notnull()]
print(returnDf3)

  name  age ValuePresent
0    A   10         True
1    B   15         True
2    C   21         True
0    A   10         True
1    B   15         True
2    C   21         True
0    A   10         True
1    B   15         True
2    C   21         True
  name  age ValuePresent
0    A   10
1    B   15         True
2    C   21         True
0    A   10         True
1    B   15         True
2    C   21         True
0    A   10         True
1    B   15         True
2    C   21         True
Empty DataFrame
Columns: [name, age, ValuePresent]
Index: []

In [105]:
# add column based on existing column's value
# pandas lambda function
returnDf2['NewCol'] = returnDf2['age'].map(lambda a: a+100)
print(returnDf2)

  name  age ValuePresent  NewCol
0    A   10                  110
1    B   15         True     115
2    C   21         True     121
0    A   10         True     110
1    B   15         True     115
2    C   21         True     121
0    A   10         True     110
1    B   15         True     115
2    C   21         True     121

In [106]:
joinFields = ['name']
mergeDf = returnDf2.merge(right=returnDf,how='outer',left_on=joinFields,right_on=joinFields,indicator=True,sort=False)	
mergeDf.sort_values(by=['name'])
print (returnDf)
print (returnDf2)
print (mergeDf)

  name  age
0    A   10
1    B   15
2    C   21
0    A   10
1    B   15
2    C   21
0    A   10
1    B   15
2    C   21
  name  age ValuePresent  NewCol
0    A   10                  110
1    B   15         True     115
2    C   21         True     121
0    A   10         True     110
1    B   15         True     115
2    C   21         True     121
0    A   10         True     110
1    B   15         True     115
2    C   21         True     121
   name  age_x ValuePresent  NewCol  age_y _merge
0     A     10                  110     10   both
1     A     10                  110     10   both
2     A     10                  110     10   both
3     A     10         True     110     10   both
4     A     10         True     110     10   both
5     A     10         True     110     10   both
6     A     10         True     110     10   both
7     A     10         True     110     10   both
8     A     10         True     110     10   both
9     B     15         True     115     15   both
10    B     15         True     115     15   both
11    B     15         True     115     15   both
12    B     15         True     115     15   both
13    B     15         True     115     15   both
14    B     15         True     115     15   both
15    B     15         True     115     15   both
16    B     15         True     115     15   both
17    B     15         True     115     15   both
18    C     21         True     121     21   both
19    C     21         True     121     21   both
20    C     21         True     121     21   both
21    C     21         True     121     21   both
22    C     21         True     121     21   both
23    C     21         True     121     21   both
24    C     21         True     121     21   both
25    C     21         True     121     21   both
26    C     21         True     121     21   both

In [110]:
# slice dataframe
sliceDf = mergeDf[mergeDf['name'] == 'A']
print(sliceDf)

  name  age_x ValuePresent  NewCol  age_y _merge
0    A     10                  110     10   both
1    A     10                  110     10   both
2    A     10                  110     10   both
3    A     10         True     110     10   both
4    A     10         True     110     10   both
5    A     10         True     110     10   both
6    A     10         True     110     10   both
7    A     10         True     110     10   both
8    A     10         True     110     10   both

In [111]:
# fill nan values with blank
sliceDf.fillna('',inplace=True)

ValueError: fill value must be in categories